* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(image.jpeg);
  color: black;
}

.main {
  height: 100vh;
}

.container {
  position: ;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 300px;
}
